a{
    cursor: pointer;
    text-decoration: none;
}
img{
    border: 0;
}
.m-header{
    width: 100%;
    height: 72px;
    box-shadow: 0 2px 16px 0 rgba(220,220,220,.5);
}
.m-header-box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 0;
}
.i-log{
    width: 92px;
    height: auto;
    margin-top: 15px;
    float: left;
}
.location-header{
    height: 100%;
    float: left;
    position: relative;
    margin-left: 54px;
    line-height: 72px;
    white-space: nowrap;
    cursor: pointer;
}
.i-icon-location{
    width: 12px;
    display: inline-block;
    vertical-align: middle;
}
.city-location{
    max-width: 60px;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    color: #2D2D2D;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.i-arrow-location{
    width: 9px;
    display: inline-block;
    vertical-align: middle;
}
.city-header-wrap{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.city-header{
    width: 626px;
    z-index: 999;
    position: relative;
    left: -115px;
    top: 0;
    margin-top: 60px;
    background: #FFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
    border-radius: 2px;
    padding: 21px;
}
.now-city{
    line-height: 25px;
}
.title-city{
    width: 86px;
}
.title-city,.name-city{
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    font-size: 16px;
    color: #111;
    letter-spacing: .56px;
    float: left;
}
.select-city{
    color: #FF1268;
    background-color: #fff4f8;
    padding: 0 10px;
}
.hot-city{
    line-height: 25px;
    margin-top: 40px;
}
.list-other{
    width: 525px;
    display: inline-block;
    line-height: 29px;
    margin-top: -3px;
}
.other-city{
    line-height: 25px;
    padding-top: 15px;
    border-top: 1px solid #EEE;
    margin-top: 15px;
}
.recommend-header{
    max-width: 220px;
    height: 100%;
    float: left;
    margin-right: -20px;
    margin-left: 40px;
    line-height: 72px;
    overflow: hidden;
}
.type-recommend{
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin-right: 18px;
    overflow: hidden;
}
.select {
    color: #FF1268;
}
.type-recommend:hover,.right-header .box-header .span-box-header:hover{
    color: #FF1268;
}
.right-header{
    min-width: 55px;
    height: 100%;
    position: relative;
    float: right;
    line-height: 72px;
}
.right-header .box-header {
    height: 100%;
    display: inline-block;
    line-height: 72px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}
.right-header .user-header .show {
    display: inline-block;
}
.right-header .user-header .list-wrap {
    width: 133px;
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -67px;
    top: 50px;
    z-index: 999;
}
.right-header .user-header .list-login {
    width: 100%;
    position: relative;
    margin-top: 10px;
    background: #FFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
    border-radius: 2px;
}
.right-header .user-header .list-login .li-login {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #111;
    letter-spacing: .54px;
    text-align: center;
    border-bottom: 1px solid #F2F2F2;
}
.right-header .user-header .list-login .li-login:hover {
    color:#FF1268;
    background-color:#fff4f8
}
.right-header .box-header {
    height: 100%;
    display: inline-block;
    line-height: 72px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}
.right-header .box-header .span-box-header {
    display: inline-block;
    vertical-align: middle;
    color: #111;
    cursor: pointer;
    font-size: 16px;
}
.right-header .download-header .ewm-download {
    width: 80px;
    height: 80px;
    display: none;
    position: absolute;
    top: 60px;
    left: -12px;
    z-index: 999;
    background: #fff;
    padding: 5px;
    box-shadow: 1px -1px 1px #ccc;
}
.right-header .download-header .ewm-download .i-ewm {
    width: 100%;
}
.right-header .box-header .i-box-header {
    width: 26px;
    z-index: 20000;
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
.right-header .user-header .i-user {
    border-radius: 13px;
}
.right-header .user-header .show {
    display: inline-block;
}
.right-header .user-header .name-user {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-header {
    width: 401px;
    height: 46px;
    margin-top: 12px;
    margin-right: 20px;
    line-height: 46px;
    float: right;
    position: relative;
}
.search-header .i-search {
    width: 17px;
    position: absolute;
    left: 22px;
    top: 15px;
    z-index: 11;
}
.search-header .input-search {
    width: 253px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    font-size: 16px;
    background-color: transparent;
    outline: 0;
    -webkit-appearance: none;
    border: 0;
    padding: 0 10px 0 54px;
    border-top-left-radius: 46px;
    border-bottom-left-radius: 46px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    border-right-color: #FF1268;
    box-sizing: content-box;
}
.search-header .btn-search {
    width: 82px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #FF1268;
    line-height: 46px;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    border-radius: 0 27px 27px 0;
    z-index: 11;
    letter-spacing: 4px;
    cursor: pointer;
}
.search-header .list-search-wrap {
    width: 402px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.search-header .list-search {
    width: 374px;
    max-height: 296px;
    overflow: hidden;
    position: relative;
    left: 0;
    margin-top: 55px;
    z-index: 999;
    padding: 0 14px;
    background: #FFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.05);
    border-radius: 4px;
}
.search-header .input-search:focus {
    border-color: #FF1268;
}
.location-header .city-header:after {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 140px;
    margin-top: -5.5px;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    box-shadow: 1px -1px 1px #ccc;
}
.right-header .user-header .list-login:after {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    margin-top: -5.5px;
    width: 0;
    margin-left: -3px;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    box-shadow: 1px -1px 1px #ccc;
}
.right-header .download-header .ewm-download:after {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    margin-top: -5.5px;
    width: 0;
    margin-left: -3px;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 5px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    box-shadow: 1px -1px 1px #ccc;
}
